/* =========================
   GOOGLE FONTS
========================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* =========================
   GLOBAL STYLES
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#F8F9FA;
}


/* =========================
   SPLASH SCREEN
========================= */

.splash-body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        135deg,
        #005F73,
        #0A9396,
        #F4A261
    );
    overflow:hidden;
}

.splash-container{
    text-align:center;
    animation:fadeIn 1.5s ease;
}

.splash-logo{
    width:220px;
    height:auto;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
    animation:floatLogo 3s infinite ease-in-out;
}

.splash-title{
    margin-top:20px;
    font-size:3rem;
    color:white;
    font-weight:700;
}

.splash-text{
    margin-top:10px;
    color:white;
    font-size:1.1rem;
    letter-spacing:1px;
}


/* =========================
   LOADER
========================= */

.loader{
    margin:30px auto 0;
    width:50px;
    height:50px;
    border:5px solid rgba(255,255,255,0.3);
    border-top:5px solid white;
    border-radius:50%;
    animation:spin 1s linear infinite;
}


/* =========================
   ANIMATIONS
========================= */

@keyframes spin{
    100%{
        transform:rotate(360deg);
    }
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes floatLogo{
    0%,100%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-10px);
    }
}
/* ABOUT PAGE */
.about {
    padding: 40px;
    text-align: center;
    background: #fff;
}


.about p {
    max-width: 700px;
    margin: 10px auto;
    line-height: 1.6;
}

.about-boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
}

.box {
    background: #fff3e6;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}